.comic-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
}

.comic-input > div {
  width: 30%; /* Adjust the width as needed */
  box-sizing: border-box;
  margin-bottom: 10px; /* Add some margin between input forms */
}

.comic-input label {
  display: block;
  margin-bottom: 5px;
}

.comic-input input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
  
  button:hover {
    background-color: #217dbb;
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-right: 8px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .error-message {
    color: #c0392b;
    margin-top: 10px;
  }
  