/* ComicPanel.css */

.comic-panel {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    flex-wrap: wrap;
  }
  
  .comic-panel-item {
    margin: 10px;
    position: relative;
    width: calc(33.33% - 20px); /* 3 panels in a row with margin on both sides */
    box-sizing: border-box;
    margin-bottom: 35px;
  }

  .comic-panel-item img {
    width: 80%;
    border-radius: 10%;
  }
  
  .speech-bubble {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000;
    font-size: 14px;
    max-width: 200px; /* Adjust the width as needed */
    text-align: center;
    bottom: 100%;
    left: 70%;
    transform: translateX(-50%);
  }
  
  /* Add more styles as needed */
  